body{
    background: rgb(255, 253, 128);
}
.heading{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
.timer {
    display: none;
}
.countdown{
    display: none;
}
.scaleword{
    transition: 1s;
    animation-name: scaleword;
    animation-duration: 1s;
}
@keyframes scaleword {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0)
    }
}
.scaleword1{
    transition: 1s;
    animation-name: scaleword1;
    animation-duration: 1s;
}
@keyframes scaleword1 {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0)
    }
}
.divide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3% 10% 0% 25%;
}
.image{
    height: 150px;
    margin-top: 100px;
    width: auto;
}
.jump {
    animation-name: jump;
    animation-duration: 0.1s;
}
.jump1 {
    animation-name: jump1;
    animation-duration: 0.1s;
}
@keyframes jump{
    from{

    }
    to{
        position: relative;
        bottom: 10px;
    }

}
@keyframes jump1{
    from{

    }
    to{
        position: relative;
        bottom: 10px;
    }

}
.shake{
    position: relative;
    animation-name: shake;
    animation-duration: 0.1s;
}
.shake1{
    position: relative;
    animation-name: shake1;
    animation-duration: 0.1s;
}
@keyframes shake{
    0%{
        right: 7px;
    }
    25%{
        left: 7px;
    }
    60%{
        right: 7px
    }
    100%{
        left: 7px
    }
}
@keyframes shake1{
    0%{
        right: 7px;
    }
    25%{
        left: 7px;
    }
    60%{
        right: 7px
    }
    100%{
        left: 7px
    }
}
.createroom{
    display: none;
    /* display: block; */
}
.joinroom{
    display: none;
    /* display: block; */
}
.game{
    display: none;
    /* display: block; */
}
.winner {
    display: none;
    /* display: block; */
}
.home{
    margin-top: 50px;
    display: block;
    /* display: none; */
}
.button{
    height: 150px;
    width: auto;
    cursor: pointer;
    display: none;
}
.score{
    font-family: 'Erica One', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    color: #000;
}
.roomid {
    padding: 20px 20px;
    width: 20%;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    transition: 0.15s;
    font-size: 8px;
    font-family: 'Press Start 2P', cursive;
}
.roomid:focus{
    outline: none !important;
    transform: scale(1.03);
    transition: 0.15s;
}
.createbutton{
    padding: 15px 100px;
    background: rgb(0, 160, 0);
    color: white;
    font-size: 10px;
    display: flex;
    margin: auto;
    cursor: pointer;
    outline: none !important;
    margin-bottom: 15px;
    outline: none !important;
    outline-style: none !important;
    border-style: none !important;
    font-family: 'Press Start 2P', cursive;
}
.joinbutton{
    padding: 15px 100px;
    background: rgb(0, 160, 0);
    color: white;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    outline: none !important;
    outline-style: none !important;
    border-style: none !important;
    margin-bottom: 15px;
    font-family: 'Press Start 2P', cursive;
}
.cancelbutton{
    padding: 15px 100px;
    background: rgb(255, 117, 83);
    color: white;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    outline: none !important;
    outline-style: none !important;
    border-style: none !important;
    margin-bottom: 15px;
    font-family: 'Press Start 2P', cursive;
}
.gotohomebutton{
    padding: 15px 100px;
    background: rgb(255, 117, 83);
    color: white;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    outline: none !important;
    outline-style: none !important;
    border-style: none !important;
    margin-bottom: 15px;
    font-family: 'Press Start 2P', cursive;
}
.or{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
.circle{
    border-radius: 50%;
    height: 13px;
    width: 13px;
    background: red;
}
.connectedcircle{
    background: green;
}
.username{
    font-family: 'Press Start 2P', cursive; 
    font-size: 17px !important;
    color: green;
}
.usernamedown{
    font-family: 'Press Start 2P', cursive; 
    font-size: 9px;
}
@media screen and (max-width: 768px){
    .image{
        height: 100px;
    }
    .score{
        font-size: 40px;
    }
    .button{
        height: 100px;
    }
    .divide{
        padding: 3% 10% 0% 20%;
    }
}